<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reservations.Hoteles"  
        version   = "0.0.1">
    <name>Hoteles</name>

    <description>
        Práctica de Phonegap.
    </description>

    <author href="http://desarrollosintesis.com" email="teresa@desarrollosintesis.com">
       DesarrolloSintesis
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.3.0" />     
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
	<preference name="splash-screen-duration" value="5000"/>

    <icon src="img/logo.png" />
    <icon src="img/logo.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/logo.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/logo.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/logo.png"   gap:platform="android"    gap:density="xhdpi" />
   
    <icon src="img/logo.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="img/logo.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/logo.png"            gap:platform="ios"        width="114" height="114" />
    <icon src="img/logo.png"            gap:platform="ios"        width="144" height="144" />
    

    <gap:splash src="img/splashscreen.jpg"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/splashscreen.jpg"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/splashscreen.jpg"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/splashscreen.jpg"  gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="img/splashscreen.jpg"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="img/splashscreen.jpg"    gap:platform="ios"     width="640" height="960" />
    <gap:splash src="img/splashscreen.jpg"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="img/splashscreen.jpg"     gap:platform="ios"     width="1024" height="768" />
	
	<access origin="https://igitsoft.com" />
	
</widget>